@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

:root {
    --intro-email-bg: hsl(217, 28%, 15%);
    --main-bg: hsl(218, 28%, 13%);
    --footer-bg: hsl(216, 53%, 9%);
    --testionials-bg: hsl(219, 30%, 18%);
    
    --accent-gradient-1: hsl(176, 68%, 64%);
    --accent-gradient-2: hsl(198, 60%, 50%);
    --accent-error: hsl(0, 100%, 63%);
    --neutral: hsl(0, 0%, 100%);

    font-size: 14px;
}
/* font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */
/* font */

h1, h2,
nav a,
button {
    font-family: 'Raleway', sans-serif;
}

p{
    font-family: 'Open Sans', sans-serif;
}

h1{
    /*font-size: min-1.675em;;*/
    font-size: 1.675em;
    line-height: 1.4em;
}
h2{
    font-size: 1.3em;
}
.testimonials p{
    font-size: .7em;
    line-height: 1.8em;
}
/* text color */
body, a {
    color: var(--neutral)
}

main{
    background-color: var(--main-bg);
    text-align: center;
}
p{
    line-height: 1.5em;
}
/* .intro p,
.features p,
.how-it-works p,
.sign-up p,
footer p{
    font-size: 1.2em;
} */


.intro ,
section {
    width: 330px;
    margin: 0 auto;
}
/* header */
header {
    background-color: var(--intro-email-bg);
}
.logo {
    height: 25px;
}
nav {
    padding: 2rem;
}
nav .nav-links {
    gap: 2rem;
}


.intro{
    padding-bottom: 3rem;
}

.intro-text{
    padding: 1rem 0; 
}

.intro-text p {
    padding: 1rem 1rem 2rem 1rem;
}
button {
    padding: 1.2rem 0;
    border: none;
    border-radius: 30px;
    width: 230px;
    background: linear-gradient(to right,  var(--accent-gradient-1), var(--accent-gradient-2));
    color: var(--neutral);
    font-weight: bold;
}
/* main */
section {
    padding: 5rem 0;
}
h2 {
    padding: 1rem 0;
}
/*features*/
.features {
    flex-direction: column;
    gap: 4rem;
}

.features img {
    height: 60px;
    margin: 1.5rem;
}

/*how-it-works*/
.how-it-works .illustration {
    padding: 0 1rem 2rem 1rem;
}
.how-it-works p {
    padding-bottom: 1.5rem;
}
.how-it-works a{
    color: var(--accent-gradient-1);
    text-decoration: underline;
    text-underline-offset: 10px;
}

/*testimonials*/
.quotes img{
    height: 15px;
    margin-left: 2rem;
}
.cards {
    flex-direction: column;
    gap: 2rem;
}
.card {
    width: 270px;
    height: 175px;
    margin: 0 auto;
    background-color: var(--testionials-bg);
    padding:  2rem 1.5rem;
}
.profile {
    padding-top: 1.5rem;
}
.profile img{
    height: 25px;
    margin-right: .5rem;
    border-radius: 25px;
}
.name, .occupation{
    display: block;
}

.name {
    font-weight: bold;
}


/* sign-up */
.sign-up {
    width: 330px;
    background-color: var(--intro-email-bg);
    padding: 2rem;
}




footer {
    background-color: var(--footer-bg);
}
form {
    flex-direction: column;
}
input {
    margin-top: 2rem;
    padding: 1.2rem;
    border-radius: 25px;
    border: none;
}