@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    
}

:root {
    --intro-email-bg: hsl(217, 28%, 15%);
    --main-bg: hsl(218, 28%, 13%);
    --footer-bg: hsl(216, 53%, 9%);
    --testionials-bg: hsl(219, 30%, 18%);
    
    --accent-gradient-1: hsl(176, 68%, 64%);
    --accent-gradient-2: hsl(198, 60%, 50%);
    --accent-error: hsl(0, 100%, 63%);
    --neutral: hsl(0, 0%, 100%);

    font-size: 14px;
}
/* font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */
/* font */

img, svg{
    display: block;
    max-width: 100%;
}

input, button {
    font: inherit;
}
button{
    outline-color: transparent;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}

header, .sign-up {
    background-color: var(--intro-email-bg);
}